<div>
	<div></div>
	<div class="container col-md-2">
		<div class="row tx-border">
			<h3 class="pd-header">Collaborators</h3>
		</div>
		<div class="tx-border">

			<div ng-repeat="obj in assigned">
				<div class="row img-border">
					<div class="col-md-5">
						<img src="{{obj.img}}" />
					</div>
					<div class="col-md-5">
						<h4>{{obj.name}}</h4>
						<h4>{{obj.desig}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container col-md-10">

		<div class="row tx-border">
			<div class="col-md-4"><h3 class="pd-header">Status</h3></div>
			<div class="col-md-4">
				<h3 class="pd-header">DETAILS</h3>
			</div>
			<div class="col-md-4"><h3 class="pd-header">More..</h3></div>
		</div>
		<div ng-repeat="project in projectdets" class="tx-border">
			<div class="row filter-buttons">
				<div class="col-md-4">
				
				
				
					<div class="btn-group">
						<button type="button" 
							class="btn btn-primary">Add Task</button>
						<button type="button" 
							class="btn btn-primary">Add Collaborator </button>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="btn-group">
						<button type="button" ng-click="myFilter={priority:'showstopper'}"
							class="btn btn-primary">Showstopper</button>
						<button type="button" ng-click="myFilter={priority:'high'}"
							class="btn btn-primary">High</button>
						<button type="button" ng-click="myFilter={priority:'low'}"
							class="btn btn-primary">Low</button>
					</div>
				</div>
				<div class="col-md-4">
				Due Date:<input type="date" id="ddate" ng-model="myDate"/>
				
				</div>
			</div>
			
			<div class="row each-task"  ng-repeat="tk in project.tasks | filter:myFilter | filter:{duedate:myDate}">
				<div class="col-md-2">


					<div ng-if="tk.completed!=='True'">
						<span class="glyphicon glyphicon-list-alt"
							style="font-size: 48px;"></span>
						<div>
							<span>Pending</span>
						</div>
					</div>
					<div ng-if="tk.completed==='True'">
						<span class="glyphicon glyphicon-thumbs-up"
							style="font-size: 48px;"></span>
						<div>
							<span>Completed</span>
						</div>
					</div>



				</div>
				<div class="col-md-6">

					<div>
						<h2>{{tk.title}}</h2>
						<p>{{tk.desc}}</p>
					</div>

				</div>

				<div class="col-md-4">

					<div ng-if="tk.completed!=='True'">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Edit</button>

							<button type="button" 
								class="btn btn-primary">Complete</button>

						</div>
					</div>
					<div>
						<span> Assigned To:{{tk.assignedto}}</span>
					</div>
					<div>
						<span> Created Date:{{tk.createdate}} </span>
					</div>
					<div>
						<span> To Date:{{tk.duedate}} </span>


					</div>

				</div>

			</div>
		</div>

	</div>
</div>